@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}

#sidebar { 
    width: 25%;
    padding: 50px;
    background: #E5E5E5; 
}

#content {
    width: 75%;
    padding: 50px; 
}

a { 
    color: #666;
    text-decoration: none; 
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}

h1 { 
    font-weight: 800;
    border-bottom: 1px solid #666;
    padding-bottom: 10px;
}

h2, .listed-titles {
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 0px;
}

h3, .total, .subscribe {
    font-weight: 600;
}

h4 {
    font-weight: 500;
}

p {
    font-weight: 400;
}

.article-body {
    padding-top: 10px;
}

.comments, .related-titles, .featured {
    list-style: none;
    padding-left: 20px;
}

.title-links {
    font-size: 15px;
    line-height: 1.3rem;
}

.counter {
    padding-top: 30px;
}

#list-title-1 {
    color: #b4d999;
}

#list-title-2 {
    color: #91afd7;
}

#list-title-3 {
    color: #ffdc7e;
}

#list-title-4 {
    color: #beb1d5;
}

#list-title-0 {
    color: #e8879c;
}

.likebutton, .likebutton:hover {
    color: #000;
    margin-left: 10px;
    text-decoration: none;
}

.tags, .help, .date, .info, .comment-info, label {
    font-weight: 300;
    font-size: 14px;
}

.date, .info, label { 
    color: #666;
}

.pagination { 
    margin-top: 40px; 
    font-weight: 600;
}

label { 
    display: block;
    margin-bottom: 4px;
}

input, textarea {
    font-size: 15px;
    display: block;
    background: #E5E5E5;
    border: none;
    padding: 4px;
}

input[type=submit] {
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    font-weight: 700;
    background: #666;
    color: #FFF;
    padding: 10px 20px;
}

.errorlist { 
    color: #ffa389;
    padding-left: 10px; 
}