{% load magazine_tags %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static "css/pub.css" %}" rel="stylesheet">
    </head>
    <body id="body">
        <div id="sidebar">
            <h2>whafs magazine</h2>
            <p>
                This is us, with {% total_articles %} articles published so far. 
                <a href="{% url "magazine:article_feed" %}">Subscribe</a>
            </p>
            {% show_featured_articles 3 %}
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <script src="//cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
        <script>
            const csrftoken = Cookies.get('csrftoken');
            document.addEventListener('DOMContentLoaded', (event) => {
                // DOM Loaded
                {% block domready %}
                {% endblock %}
            })
        </script>
    </body>
</html>