{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static "css/pub.css" %}" rel="stylesheet">
    </head>
    <body>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <div id="sidebar">
            <h2>whafs blog</h2>
            <p>
                This is me, with {% total_posts %} posts written so far. 
                <a class="subscribe" href="{% url "blog:post_feed" %}">Subscribe</a>
            </p>
            {% show_featured_posts 3 %}
        </div>
        <script src="//cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
        <script>
            const csrftoken = Cookies.get('csrftoken');
            document.addEventListener('DOMContentLoaded', (event) => {
                {% block domready %}
                {% endblock %}
            })
        </script>
    </body>
</html>