{% extends "blog/base.html" %}
{% load blog_tags %}
{% block title %}Search{% endblock %}
{% block content %}
    {% if keywords %}
    <h1>Posts containing "{{ keywords }}"</h1>
    <h2>Found {{ results.count }} result{{results.count|pluralize }}</h2>
    {% for post in results %}
    <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
    <p class="tags">Tags: 
        {% for tag in post.tags.all %}
        <a href="{% url "blog:post_list_tagged" tag.slug %}">
            {{ tag.name }}
        </a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    {{ post.body|markdown|truncatewords_html:12 }}
    {% empty %}
    <p class="help">There are no results for your keywords.</p>
    {% endfor %}
    <h4><a class="links" href="{% url "blog:post_search" %}">Search again</a></h4>
    {% else %}
    <h1>Search for posts</h1>
    <form method="get">
        {{ form.as_p }}
        <input type="submit" value="Search">
    </form>
    {% endif %}
{% endblock %}